:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: D20, D10-20, B10, B40, R05, R40, Y05, Y40, G05, G40;
}

:import {
  -st-from: "../Foundation/stylable/spacing.st.css";
  -st-named: spacing12;
}

.root {
}

.faceWrapper {
  -st-states: size(enum(small, medium)), type(enum(readOnly, interactive)), hovered, selected, iconType(enum(disapointed, frowning, neutral, smiling, grining));
  margin-right: value(spacing12);
}

.faceWrapper:last-child {
  margin-right: 0;
}

.faceIcon {
  color: value(D20);
}


.faceWrapper:size(small) {
  width: 18px;
  height: 18px;
  border-radius: 18px;
}

.faceWrapper:size(medium) {
  width: 22px;
  height: 22px;
  border-radius: 22px;
}

.faceWrapper:type(interactive):selected {
  background-color: value(B40);
}

.faceWrapper:type(interactive):selected .faceIcon {
  color: value(B10);
}

.faceWrapper:type(interactive):hovered {
  cursor: pointer;
}

.faceWrapper:type(interactive):hovered .faceIcon {
  color: value(B10);
}


/** read only mode */
.faceWrapper:type(readOnly) .faceIcon {
  color: value(D10-20);
}

.faceWrapper:type(readOnly):selected:iconType(disapointed) {
  background-color: value(R40);
}
.faceWrapper:type(readOnly):selected:iconType(disapointed) .faceIcon {
  color: value(R05);
}

.faceWrapper:type(readOnly):selected:iconType(frowning) {
  background-color: value(R40);
}
.faceWrapper:type(readOnly):selected:iconType(frowning) .faceIcon {
  color: value(R05);
}

.faceWrapper:type(readOnly):selected:iconType(neutral) {
  background-color: value(Y40);
}
.faceWrapper:type(readOnly):selected:iconType(neutral) .faceIcon {
  color: value(Y05);
}

.faceWrapper:type(readOnly):selected:iconType(smiling) {
  background-color: value(G40);
}
.faceWrapper:type(readOnly):selected:iconType(smiling) .faceIcon {
  color: value(G05);
}

.faceWrapper:type(readOnly):selected:iconType(grining) {
  background-color: value(G40);
}
.faceWrapper:type(readOnly):selected:iconType(grining) .faceIcon {
  color: value(G05);
}
