// TODO-hr Convert to stylable

@import '../common.scss';

$active-color: $D20;
$inactive-color: $D40;

.root {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.column {
  display: table-cell;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topRow {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 6px;
}

.iconWrapper {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.preIcon,
.postIcon {
  height: 1px;
  flex-grow: 1;
  background-color: $D50; // line should be different to compare with $inactive-color

  &.active {
    background-color: $active-color;
  }
}

.column:first-child .preIcon {
  background: none;
}

.column:last-child .postIcon {
  background: none;
}

.label {
  box-sizing: border-box;
  width: 100%;
  padding: 0 6px;
  text-align: center;
}

///////////////////// Icons

%icon {
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.upcomingIcon {
  @extend %icon;
  border: 2px solid $inactive-color;
}

.activeIcon {
  @extend %icon;
  display: flex;
  position: relative;
  border: 2px solid $active-color;

  &:before {
    content: "";
    margin: auto;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $active-color;
    animation: bounce 1000ms;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }
}

.completedIcon {
  fill: $active-color;
}

.errorIcon {
  fill: $R10;
}

@keyframes bounce {
  to {
    transform: scale(1.66);
  }
}
